{{ define "main" }}

{{ if .Site.Params.showCategoriesOnPost }}
{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
{{ if gt (len $list) 0 }}
{{ if .Site.Params.sortTags }}
{{ $list = sort $list "Title" }}
{{ end }}
<div class="archive_categories">
    <!-- Dynamically filter categories based on the post's categories -->
    {{ if intersect .Params.categories (slice "Captain's Log" "Video" "Photos" "Sound") }}
        <!-- Categories for The Journal -->
        {{ range $list }}
        {{ if or (eq .Title "Captain's Log") (eq .Title "Video") (eq .Title "Photos") (eq .Title "Sound") }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
        {{ end }}
        {{ end }}
    {{ else if intersect .Params.categories (slice "Articles" "Security" "Tech" "Thoughts") }}
        <!-- Categories for Other Articles -->
        {{ range $list }}
        {{ if or (eq .Title "Articles") (eq .Title "Security") (eq .Title "Tech") (eq .Title "Thoughts") }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
        {{ end }}
        {{ end }}
    {{ else }}
        <!-- Default: Show all categories -->
        {{ range $list }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
        {{ end }}
    {{ end }}
</div>
{{ end }}
{{ end }}

{{ $postDateTimeSys := .Date.Format "2006-01-02T15:04:00Z" }}
{{ $postDateTime := .Date.Format "January 2, 2006" }}
{{ if .Site.Params.showPostTimeOnIndex }}
{{ $postDateTime = .Date.Format "January 2, 2006 3:04pm" }}
{{ end }}

<div class="h-entry post">
    <header class="post-header">
        {{ if .Title }}
        <h1 class="p-name post-title">{{ .Title }}</h1>
        <div class="post-meta">
            <span>
                <a class="u-url" href="{{ .Permalink }}">
                    <time class="dt-published" datetime="{{ $postDateTimeSys }}">{{ $postDateTime }}</time>
                </a>
                {{ with .Params.audio }}
                <script type="text/javascript" src="https://micro.blog/narration.js?url={{ . }}"></script>
                {{ end }}
            </span>
            {{ if .Site.Params.showReadingTime }}
            {{ if gt .ReadingTime 1 }} <span>Reading Time: {{ .ReadingTime }} minutes</span>{{ end }}
            {{ end }}
            <!-- Adding the author's photo with CSS to hide it -->
            <div class="p-author h-card">
                <img class="u-photo hidden-photo" src="https://samuellison.com/uploads/2025/profile-photo.png" alt="{{ .Site.Title }}" />
                <a class="u-url" href="/">{{ .Site.Title }}</a>
            </div>
        </div>
        {{ if .Site.Params.showPostCategories }}
        {{ if .Params.categories }}
        <div class="archive_categories">
            {{ with .Params.categories }}
            {{ range . }}
            {{ $name := . }}
            {{ with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy"
            (printf "categories/%s" ($name | urlize))) }}
            <p><a href="{{ .Permalink }}" class="p-category">{{ $name }}</a></p>
            {{ end -}}
            {{ end }}
            {{ end }}
        </div>
        {{ end }}
        {{ end }}
        {{ else }}
        <h1 class="post-title">
            <a class="u-url" href="{{ .Permalink }}">
                <time class="dt-published" datetime="{{ $postDateTimeSys }}">{{ $postDateTime }}</time>
            </a>
            {{ with .Params.audio }}
            <script type="text/javascript" src="https://micro.blog/narration.js?url={{ . }}"></script>
            {{ end }}
        </h1>
        <div class="post-meta">
            <!-- Adding the author's photo with CSS to hide it -->
            <div class="p-author h-card">
                <img class="u-photo hidden-photo" src="https://samuellison.com/uploads/2025/profile-photo.png" alt="{{ .Site.Title }}" />
                <a class="u-url" href="/">{{ .Site.Title }}</a>
            </div>
        </div>
        {{ if .Site.Params.showPostCategories }}
        {{ if .Params.categories }}
        <div class="archive_categories">
            {{ with .Params.categories }}
            {{ range . }}
            {{ $name := . }}
            {{ with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy"
            (printf "categories/%s" ($name | urlize))) }}
            <p><a href="{{ .Permalink }}" class="p-category">{{ $name }}</a></p>
            {{ end -}}
            {{ end }}
            {{ end }}
        </div>
        {{ end }}{{ end }}
        {{ end }}
    </header>

    <article class="e-content post-content">
        {{ .Content }}
    </article>
</div>

{{ if eq .Type "post" }}
    {{ if or (templates.Exists "partials/reply-by-email.html") (templates.Exists "partials/conversation-link.html")
    (templates.Exists "partials/reply-on-mastodon.html") (.Site.Params.showTinylyticsKudos) }}
    <div class="response-options">
        {{ if .Site.Params.showTinylyticsKudos }}
        <button class="tinylytics_kudos" type="button" aria-label="Kudos"></button>
        {{ end }}
        {{ if templates.Exists "partials/conversation-link.html" }}
        {{ partial "conversation-link.html" . }}
        {{ end }}
        {{ if templates.Exists "partials/reply-by-email.html" }}
        {{ partial "reply-by-email.html" . }}
        {{ end }}
        {{ if templates.Exists "partials/reply-on-mastodon.html" }}
        {{ partial "reply-on-mastodon.html" . }}
        {{ end }}
    </div>
    {{ end }}

<!-- Syndication Links -->
{{ if or .Params.mastodon .Params.pixelfed .Params.bluesky }}
<div class="syndication-section">
    <p class="syndication-text">This post also appeared on:</p>
    <div class="social-media">
        {{ if .Params.mastodon }}
        <a class="u-syndication" href="https://{{ .Params.mastodon.hostname }}/@{{ .Params.mastodon.username }}/{{ .Params.mastodon.id }}" target="_blank" title="View on Mastodon">
            <i class="fab fa-mastodon"></i>
        </a>
        {{ end }}
        {{ if .Params.pixelfed }}
        <a class="u-syndication" href="https://{{ .Params.pixelfed.hostname }}/i/web/post/{{ .Params.pixelfed.id }}" target="_blank" title="View on Pixelfed">
            <i class="fas fa-camera"></i>
        </a>
        {{ end }}
        {{ if .Params.bluesky }}
        <a class="u-syndication" {{ printf "href=%q" .Params.bluesky.link | safeHTMLAttr }} target="_blank" title="View on Bluesky">
            <i class="fa-brands fa-bluesky"></i>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}

{{ if templates.Exists "partials/cusdis.html" }}
{{ partial "cusdis.html" . }}
{{ end }}
{{ end }}

{{ if .Site.Params.include_conversation }}
<script src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}
{{ end }}
