<p>© 2025 Samuel Lison. All rights reserved.</p>
<div class="social-media">
  <a href="https://social.familylison.com/@samuel" target="_blank" title="Mastodon"><i class="fab fa-mastodon"></i></a>
  <a href="https://photos.familylison.com/sporetrail" target="_blank" title="Pixelfed"><i class="fas fa-camera"></i></a>
  <a href="https://makertube.net/c/thesporetrail" target="_blank" title="MakerTube"><i class="fas fa-video"></i></a>
  <a href="https://www.youtube.com/@TheSporeTrail" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
  <a href="https://bsky.app/profile/samuellison.bsky.social" target="_blank" title="Bluesky"><i class="fab fa-bluesky"></i></a>
  <a href="https://x.com/SamuelLison" target="_blank" title="X"><i class="fab fa-x-twitter"></i></a>
  <a href="https://www.facebook.com/thesporetrail" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/thesporetrail" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
  <a href="https://www.threads.net/@thesporetrail" target="_blank" title="Threads"><i class="fab fa-threads"></i></a>
  <a href="mailto:samuel@familylison.com" title="Email"><i class="fas fa-envelope"></i></a>
  <a href="https://keys.openpgp.org/search?q=samuel%40familylison.com" target="_blank" title="PGP Key"><i class="fas fa-key"></i></a>
  <a href="https://matrix.to/#/@samuel:matrix.familylison.com" target="_blank" title="Matrix"><i class="fas fa-comments"></i></a>
</div>
<div class="footer-legal">
  <a href="/privacy">Privacy Policy</a>
</div>