<p>© 2025 Samuel Lison. All rights reserved.</p>
<div class="social-media">
  <a href="https://micro.blog/slison" target="_blank" title="Micro.blog"><i class="fab fa-microblog"></i></a>
  <a href="https://photos.familylison.com/sporetrail" target="_blank" title="Pixelfed"><i class="fas fa-camera"></i></a>
  <a href="https://makertube.net/c/thesporetrail" target="_blank" title="PeerTube"><i class="fas fa-video"></i></a>
  <a href="mailto:samuel@familylison.com" title="Email"><i class="fas fa-envelope"></i></a>
  <a href="https://keys.openpgp.org/search?q=samuel%40familylison.com" target="_blank" title="PGP Key"><i class="fas fa-key"></i></a>
  <a href="https://matrix.to/#/@samuel:matrix.familylison.com" target="_blank" title="Matrix"><i class="fas fa-comments"></i></a>
</div>
<div class="footer-legal">
  <a href="/privacy">Privacy Policy</a>
</div>
<div class="footer-legal">
<a href="" class="tinylytics_webring">Webring: 🕸️💍</a>
</div>