{{ define "main" }}
<main class="post">
  <header class="post-header">
    <h1 class="post-title">Welcome to The Spore Trail</h1>
  </header>
  <div class="about-page">
        <section class="site-intro">
          <p>The Spore Trail is my digital journey into the world of
            photography, hiking, and exploration. It is my personal HUB, where I
            share my adventures, insights and creative outputs.</p>
        </section>
        <section class="site-purpose">
          <h3>Why This Site?</h3>
          <p class="microblog_reply_signin">I am using <a href="https://micro.pub"
              title="Micro.pub" target="_blank">micro.pub</a> as my provider.
            I'm transition over to a website I can fully control and take part
            in the <a href="https://indieweb.org/" title="IndieWeb" target="_blank">IndieWeb</a>
            movement to take back our internet. This website is my online
            identity, a HUB where anything I post gets <a href="https://indieweb.org/POSSE"
              title="POSSE" target="_blank">POSSE'd</a> out to my various other
            social media accounts where people can find me. The real beauty of
            it all though is that a congregation of all my posts, thoughts,
            opinions and even replies on all social media platforms can be found
            on this website. So you can be sure never to miss out on anything
            should you wish to follow my content directly, at the source. What's
            even better is you can choose to reply to me directly from this
            website if you have an account with <a href="https://micro.blog/" title="micro.blog"
              target="_blank">Micro.blog</a>, <a href="https://joinmastodon.org/"
              title="Mastodon" target="_blank">Mastodon</a>, or <a href="https://bsky.app/"
              title="Bluesky" target="_blank">Bluesky</a>, making it also a
            community HUB.</p>
        </section>
        <section class="what-to-expect">
          <h3>What You'll Find Here</h3>
          <ul>
            <li><strong>Hiking Photos:</strong> Capturing the beauty of trails
              and nature.</li>
            <li><strong>Audio Recordings:</strong> Sounds from the trails,
              ambient nature, and more.</li>
            <li><strong>Short Posts:</strong> Quick updates, thoughts, and
              reflections.</li>
            <li><strong>Articles:</strong> In-depth stories and insights from my
              journeys.</li>
            <li><strong>Video Links:</strong> Links to video content showcasing
              my adventures.</li>
          </ul>
        </section>
        <section class="navigation-guidance">
          <p>For more about me, visit the <a href="https://samuellison.com/about-me/"
              title="About Me">About</a> section.</p>
        </section>
    </div>
</main>
{{ end }}

